@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins.scss";

body {
    font-family: 'Lato';
}

#welcome {
	font-weight: 100;
	text-align: center;
	width: 100%;
	height: 100vh;
	@include preserve-3d;
	.container {
		@include vertical-align;
	}
	.title {
	    font-size: 96px;
	}
	.form-register {
	    margin-top: 40px;
	}
}

.board-delete {
	float: right;
}

.board-options {
  	float: right;
}

.dropdown-menu {
	right: 0;
	left: auto;
}
.btn-xs {
	line-height: 1;
}

.card-options {
	text-align: right;
	position: relative;
}

.card {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

#fb-root, iframe {
    overflow: hidden;
}

